@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0px;
  padding: 0px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

scroll-slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

scroll-slider-track::-webkit-scrollbar {
  display: none;
}

scroll-slider-track > * {
  scroll-snap-align: start;
}

body {
  font-family: "Montserrat", sans-serif;
}

b {
  font-weight: bold;
}

._container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header__container {
  margin-top: 20px;
  padding: 0px 10px;
}

.header__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
}
.header__upper-naming {
  margin-right: auto;
}
.header__upper-naming p {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.header__upper-naming span {
  font-size: 14px;
}
.header__upper select {
  line-height: 45px;
  font-size: 18px;
  height: 45px;
  border: 1px solid #999999;
  border-radius: 23px;
  text-align: center;
  width: 200px;
  padding: 0 20px;
  background: none;
}
.header__upper button {
  line-height: 45px;
  border: 1px solid #813f8e;
  border-radius: 23px;
  text-align: center;
  color: #ffffff;
  background-color: #813f8e;
  text-transform: uppercase;
  width: 200px;
  outline: none;
}

.header__bottom {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__bottom span {
  font-weight: bold;
  line-height: 45px;
  white-space: nowrap;
  color: #1e0f00;
  text-decoration: underline;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}
.header__menu-link {
  font-size: 16px;
  padding: 4px;
  text-align: center;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}
.header__menu-link:hover {
  border: 1px solid purple;
  border-radius: 23px;
  white-space: nowrap;
  color: #1e0f00;
}

.main__slider-signUp {
  position: relative;
  max-width: 1140px;
  margin: 30px auto;
}

.main__slider-card {
  text-align: center;
  padding: 16px 32px 32px;
}
.main__slider-card img {
  width: 288px;
}
.main__slider-card h4 {
  margin-bottom: 16px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.main__slider-card p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.main__slider-card button {
  width: 302px;
  padding: 12px 24px;
  background-color: #fee500;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  border: 0;
  -webkit-transition:
    color 0.3s,
    background-color 0.3s;
  transition:
    color 0.3s,
    background-color 0.3s;
  margin-top: 25px;
}

.scroll-slider-track {
  gap: 20px;
}

.scroll-slider__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  width: 56px;
  height: 56px;
  border: 0;
  background-color: #fee500;
  border: 4px solid #fff;
  border-radius: 50%;
  outline: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
}

._prev {
  left: -25px;
  z-index: 5;
}

._next {
  right: -25px;
  z-index: 5;
}

.card2,
.card7 {
  background-color: rgb(238, 244, 247);
}
.card2 button,
.card7 button {
  margin-top: 50px;
}

.card1,
.card5,
.card6 {
  background-color: rgb(245, 238, 250);
}

.card3 {
  background-color: rgb(255, 240, 238);
}
.card3 button {
  margin-top: 50px;
}

.card4 {
  background-color: rgb(238, 244, 247);
}

.card5 {
  background-color: rgb(252, 245, 231);
}

.card6 button {
  margin-top: 25px;
}

.education {
  margin-top: 100px;
}
.education h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
}

.education__grads {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.education__grads .education__grad {
  padding: 0px 10px;
}
.education__grads span {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.education__grads p {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.education__grads h4 {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.education__grads .kindergarten {
  padding-top: 160px;
}
.education__grads .kindergarten h4 {
  color: #edac1a;
}
.education__grads .junior {
  padding-top: 110px;
}
.education__grads .junior h4 {
  color: #e06e37;
}
.education__grads .midle {
  padding-top: 60px;
}
.education__grads .midle h4 {
  color: #db3b50;
}
.education__grads .project {
  padding-top: 30px;
}
.education__grads .project h4 {
  color: #ab3388;
}
.education__grads .university {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.education__grads .university img {
  width: 77px;
  height: 91px;
}
.education__grads .university h4 {
  color: #813f8e;
}

.choose {
  text-align: center;
  margin-top: 100px;
}
.choose h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
}
.choose__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.choose__item {
  max-width: 228px;
  padding: 25px;
}
.choose__item p {
  line-height: 1.5;
  margin-top: 20px;
}

.courses {
  margin-top: 100px;
}
.courses h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
}
.courses__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  padding: 15px;
}
.courses__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  max-width: 750px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.courses__item {
  width: 333px;
  height: 250px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.courses__item img {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  max-width: 123px;
}
.courses__item h2 {
  margin-top: 10px;
  font-size: 24px;
}
.courses__cost {
  font-family: "Montserrat", sans-serif;
  font-weight: medium;
  font-size: 12px;
  padding-top: 5px;
  margin-top: auto;
  border-top: 0.5px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.courses__info {
  margin-left: 100px;
}
.courses__info-upper {
  background-color: #fee500;
  max-width: 225px;
  padding: 35px 30px 25px 30px;
}
.courses__info-upper h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  padding-bottom: 40px;
}
.courses__info-upper input {
  font-size: 13px;
  width: 185px;
  line-height: 42px;
  height: 42px;
  border: 1px solid #b9b9b9;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 21px;
  text-align: left;
  padding: 0 20px;
  outline: none;
  margin: 10px auto;
}
.courses__info-upper p {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: justify;
  padding: 10px 0;
}
.courses__button {
  line-height: 45px;
  border: 1px solid #813f8e;
  border-radius: 23px;
  text-align: center;
  color: #ffffff;
  background-color: #813f8e;
  text-transform: uppercase;
  width: 225px;
  outline: none;
  margin-top: 15px;
}
.courses__info-bottom a {
  display: block;
  margin: 30px 0 30px auto;
  text-align: center;
  padding: 80px 0;
  background-color: #e0e0e0;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
}

.shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.item {
  height: 350px;
}

.item4 {
  padding-top: 50px;
  height: 310px;
}

.goal {
  background-color: rgb(236, 235, 235);
  padding: 15px;
}
.goal__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.goal__left h2 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
  line-height: 36px;
}
.goal__item {
  margin-top: 15px;
  padding: 7px 0px;
}
.goal__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 30px;
}
.goal__bottom img {
  height: 84px;
}

.answer {
  margin-top: 30px;
}
.answer__conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 50px;
}
.answer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.answer__text h3 {
  font-family: "PFAgoraSlabPro", Arial;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 0;
  margin: 0;
}
.answer__text p {
  margin-top: 30px;
  line-height: 1.5;
}

.footer {
  padding: 40px;
  background-color: #f4f3f3;
  margin-top: 100px;
  font-size: 18px;
  line-height: 1.3;
}
.footer__container img {
  width: 174px;
  height: 31px;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__links {
  font-size: 18px;
  line-height: 1.3;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
}
.footer__links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer__links div * {
  margin-bottom: 10px;
}
.footer__links a {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: black;
}
.footer__links-contacts * {
  margin-bottom: 10px;
}

button,
a,
input {
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
}
.modal__container {
  background-color: #ffdd2d;
  border-radius: 0;
  padding: 35px 0 80px 0;
  width: 570px;
  margin: 40px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal__close-btn {
  padding: 0;
  margin: 0;
  font-size: 40px;
  position: absolute;
  right: 40px;
  top: 30px;
  background: none;
  border: none;
  float: right;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.modal__close-btn:hover {
  color: #000;
  opacity: 1;
}
.modal__content {
  max-width: 305px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal__content h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.modal__content p {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
.modal__content-button {
  line-height: 45px;
  border: 1px solid #813f8e;
  border-radius: 23px;
  text-align: center;
  color: #ffffff;
  background-color: #813f8e;
  text-transform: uppercase;
  width: 305px;
  outline: none;
  margin-top: 15px;
}
.modal__content input {
  max-width: 263px;
  font-size: 13px;
  width: 100%;
  line-height: 42px;
  height: 42px;
  border: 1px solid #b9b9b9;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 21px;
  text-align: left;
  padding: 0 20px;
  outline: none;
  margin: 10px auto;
}
.modal__content textarea {
  max-width: 263px;
  resize: none;
  font-size: 13px;
  width: 100%;
  line-height: 1.8;
  height: 84px;
  border: 1px solid #b9b9b9;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 21px;
  text-align: left;
  padding: 10px 20px;
  outline: none;
  margin: 10px auto;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal__container {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1199px) {
  ._container {
    max-width: 950px;
    margin: 0px auto;
    padding: 0px 10px;
  }
  .header__container {
    margin-top: 20px;
    padding: 0px 10px;
  }
  .header__upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
  }
  .header__upper-naming {
    margin-right: auto;
  }
  .header__upper-naming p {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .header__upper-naming span {
    font-size: 12px;
  }
  .header__upper select {
    line-height: 30px;
    font-size: 18px;
    height: 35px;
    border: 1px solid #999999;
    border-radius: 23px;
    text-align: center;
    width: 160px;
    padding: 0 20px;
    background: none;
    font-size: 12px;
  }
  .header__upper button {
    line-height: 30px;
    border: 1px solid #813f8e;
    border-radius: 23px;
    text-align: center;
    color: #ffffff;
    background-color: #813f8e;
    text-transform: uppercase;
    width: 160px;
    outline: none;
    font-size: 10px;
  }
  .header__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    gap: 50px;
  }
  .header__bottom span {
    display: none;
  }
  .header__menu-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 7px;
  }
  .header__menu-link {
    font-size: 14px;
  }
  .header__menu-link:hover {
    border-radius: 18px;
  }
  .main__slider-signUp {
    max-width: 750px;
    margin: 40px auto;
  }
  .education__grads {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .education__grads .kindergarten,
  .education__grads .junior,
  .education__grads .midle,
  .education__grads .project,
  .education__grads .university {
    padding-top: 15px;
  }
  .education__grads .bmsulogo {
    display: none;
  }
  .university {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .choose {
    margin-top: 30px;
  }
  .choose h2 {
    font-size: 26px;
  }
  .choose__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .courses {
    margin-top: 60px;
  }
  .courses h2 {
    margin-bottom: 30px;
  }
  .courses__container {
    padding: 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .courses__info {
    margin-left: 30px;
  }
  .courses__items {
    max-width: 450px;
  }
  .goal__upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  .goal__left {
    display: contents;
  }
  .goal img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .goal__item {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .answer__conatiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }
  .footer {
    padding: 25px;
    margin-top: 70px;
    font-size: 14px;
  }
}
@media (max-width: 940px) {
  ._container {
    max-width: 700px;
    padding: 0px 10px;
  }
  .header__upper {
    display: contents;
    gap: 40px;
    text-align: center;
  }
  .header__upper-action {
    margin-top: 10px;
  }
  .main__slider-signUp {
    max-width: 370px;
    margin: 40px auto;
  }
  .header__bottom {
    gap: 20px;
  }
  .courses__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
  }
  .courses__items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .courses__info {
    display: contents;
  }
  .courses__info-upper {
    max-width: 273px;
    margin-bottom: 20px;
  }
  .courses__info-bottom {
    display: none;
  }
  .goal__right img {
    max-width: 500px;
  }
  .goal__bottom {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer {
    padding: 25px;
    margin-top: 70px;
    font-size: 12px;
    text-align: center;
  }
  .footer__logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .modal__container {
    background-color: #ffdd2d;
    border-radius: 0;
    padding: 15px 0 30px 0;
    width: 430px;
    margin: 20px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
@media (max-width: 630px) {
  .goal__right img {
    width: 410px;
  }
}
